Body
{
Margin:20px;
}
header
{
Background-color:lavender;
Color:brown;
Padding:10px;
Text-align:center;
}
header>h3,header>h4
{
Color:black;
}
Nav a{
Padding:10px;
Color:white;
Text-decoration:none;
}
Nav
{
Background-color:orange;
Height:29px;
Padding:10px;
}
Nav a:hover
{
Color:black;
}
img#dm
{
 Width:100%;
 Height:50%;
}
div#pic2
{
P,h3{
Padding-left:10px;
Padding-top:10px;
}
}

img#phn
{
Width:10%;
Height:10%;
}
p#class1,h3#class1
{
Font-size:15px;
}
img#eid
{
Width:10%;
Height:9%;
Float:left;
}

img#loc
{
Width:9%;
Height:9%;
}
H3:hover,h2:hover,button:hover
{
Color:brown;
}
.doc
{
background-color:skyblue; 
color:yellow; 
height:90px; 
text-align:10px 40px 20px;
}
Button#but1
{
Width:15%;
Height:20%;
Color:white;
Background-color:skyblue;
Border:1px solid skyblue;
}
.doc2
{
 Background-color:pink;
Color:black;
Padding:20px;
}
Span
{
Padding-left:250px;
}
div#op
{
Color:red;
Text-align:center;
Padding-left:10px;
}
.doc3
{
Text-align:center;
Color:purple;
}
Button
{
Width:10%;
Height:4%;
Color:black;
}
Fieldset,textarea,input,button
{
Background-color:lavender;
}
Footer 
{
Background-color:yellow;
Padding:20px;
}
Footer a
{
Padding:5px;
}










